* {
  margin: 0;
  padding: 0; 
}
.navigation {
  background-color: #24262b;
  color: white;
  margin-top: 0px;
  padding-bottom: 0px;
  font-family: var(--font1);
  /* height: 74px;  */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* border-radius: 50px; */
}

.nav-left {
  display: flex;
}

.nav-left span {
  font-size: 25px;
  padding-top: 30px;
}

.nav-left span img {
  padding-top: 10px;
  padding-left: 15px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  padding-top: 15px;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
  text-decoration: none;
  color: white;
}

.nav-left ul li a:hover {
  color: #bbbbbb;
  font-weight: bolder;
}

.content {
  height: 100%;
  display: flex;
  margin-top: 20px;
  padding: 9px;
  position: relative;
  overflow: hidden;
}

.content::after {
  content: "";
  background-image: url("../img/11.svg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.25;
  border-radius: 12px;
}

.content-left {
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 49px;
  z-index: 1;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right img {
  height: 355px;
  border: 2px solid black;
  border-radius: 200px;
}

.home-articles {
  padding: 18px;
  margin-top: 23px;
  position: relative;
}

.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 300px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a {
  text-decoration: none;
  color: black;
}

.deleteButton{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.deletepost{
  padding: 5px;
  font-weight: bolder;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 15px;
  margin-top: -300px;
}

.addPost{
  display: flex;
  justify-content: center;
  align-items: center;
}

#blogButton{
  padding: 5px;
  font-weight: bolder;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 15px;
}

.form-container{
  width: 500px;
  padding: 20px;
  border: 1px solid black;
  margin: 0 auto;
  display: none;
}

.form-container h2{
  text-align: center;
}

.form-container label{
  margin: 10px;
}
.form-container input,
.form-container textarea{
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.form-container button{
  padding: 5px;
  font-weight: bolder;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 15px;
}

/* #myForm{
  padding: 20px;
  border: 1px solid black;
} */

.hidden{
  display: none;
}
 
                /* footer */

.container{
  max-width: 1500px;
  margin: auto;
  /* overflow: hidden; */
}

.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer {
  /* height: 300px; */
  background-color: #24262b;
  padding: 30px;
  margin: 0px;
  overflow: hidden;
   
}

.footer-ig{
  margin:20px;
}

.footer-col{
  width:20%;
  padding:5px;
}

 
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 20px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.copyright{
  color: #bbbbbb;
  font-size: 1rem;
  /* line-height: 1.5rem; */
  text-align: center;
  /* padding-top: 2.5rem; */
  margin-top: 1rem;

}
/* give style to id named footer_logo */